<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Rango</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <head>
        <h1>Rango says...</h1>
            hey there partner! <br />
        <div>
            <h3>Most Liked Categories</h3>    
            {% if categories %}
            <ul>
                {% for category in categories %}
                    <li> <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }} </a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>

        <div>
            <h3>Most Viewed Pages</h3>    

            {% if pages %}
            <ul>
                {% for page in pages %}
                    <li> <a href="/">{{ page.title }} </a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no pages present.</strong>
            {% endif %}

        </div>
        <div>
            <a href="/rango/about/">About</a> <br />
        </div>

        <script src="{% static 'js/main.js' %}"></script>
    </head>
</html>